@{
    var profileData = Session["UserProfile"] as ExpenseTrackerApp.Models.DAL.UserProfileSessionData;
}

@* Page Title and Date Range Picer *@
<div class="row">
    <div class="page-title">
        <div class="pull-left ">
            <h1><span> QMS </span> <i class="material-icons">&#xE315;</i> Create Users</h1>
        </div>

        <div class="pull-right">
            <div class="control-group">
                @if (profileData.User_Role == 1)
                {
                    <div class="form-group">
                        <input id="userlist" class="form-control" style="width: 225px">
                    </div>
                }
                <div class="form-group">
                    <div class="controls icon">
                        <input type="text" id="daterange" class="form-control">
                        <span class="k-icon k-i-arrow-60-down"></span>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group">
                        <button id="loaddata" value="load" class="btn btn-primary" type="button"> Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.control-group -->
    </div>
</div>

<script id="template" type="text/x-kendo-template">

    <div class="row">

        <div class="container-fluid fixed-panel-container">

            <div class="clear">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        QMS - Create
                        <!--Call Drop Reporting Procedure (VQR) -->
                    </div>

                    <div class="panel-body" id="ExpenseForm">
                        <fieldset class="row">

                            <div class="form-group col-md-3">
                                <label for="" class="control-label">User Name</label>
                                <input class="form-control" type="text" value="@profileData.User_ID - @profileData.User_Name" readonly />
                            </div>

                            <div class="form-group col-md-3">
                                <label for="" class="control-label">Expense Data Type</label>

                                <input id="EDT" class="form-control" name="EDT" required />
                                <span class="k-invalid-msg" data-for="EDT"></span>
                            </div>


                            <div class="form-group col-md-3">
                                <label for="" class="control-label">Amount</label>

                                <input id="Amount" onkeypress="return isNumberKey(event)" class="form-control" name="Amount" required />
                                <span class="k-invalid-msg" data-for="Amount"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="" class="control-label">Comment</label>
                                <input id="Comment" class="form-control" name="Comment" />
                            </div>




                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
    </div>

</script>



@* Disposition Grid *@
<div class="container-fluid fixed-panel-container">

    <div class="row">
        <div class="panel panel-default">

            <div id="grid"></div>

            <script type="text/x-kendo-template" id="toolbartemplate">

                <span id="girdMenu"></span>
                <a class="k-button k-button-icontext k-grid-excel" id="btnExcelExport"><span class="k-icon k-i-file-excel"></span> Export to Excel</a>
            </script>

            <div class="clearfix"></div>
        </div>
    </div>

</div>


<script>


   

</script>


<style>
    .Selected {
        background-color: #4caf50;
        color: white;
    }

    .no-scrollbar .k-grid-header {
        padding: 0 !important;
    }

    .no-scrollbar .k-grid-content {
        overflow-y: visible;
    }

    .overlay {
        width: 80%;
    }

    .k-menu-horizontal
    /* for all horizontal menus */ {
        display: inline-block;
    }

    .k-widget.k-tooltip {
        background-color: white;
        color: red;
    }
</style>
